node_modules
.docker
.local
.vscode
.git
*.map
.dockerignore
.gitignore
.npmrc
.prettierignore
package.json
package-lock.json
yarn.lock
/node_modules
Jenkinsfile
/test
/output
/temp
/test-*
/log
/dist

license
*.yaml
*.hbs
*.txt

*.js
!/src/run.js